.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-position: center;
}

#booking::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.booking-form {
  max-width: 642px;
  width: 100%;
  margin: auto;
}

.booking-form .form-header {
  text-align: center;
  margin-bottom: 25px;
}

.booking-form .form-header h1 {
  font-size: 58px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffc001;
  margin: 0px;
}

.booking-form > form {
  background-color: var(--body-bg);
  padding: 30px 20px;
  border-radius: 20px;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 15px;
}


.booking-form .row .col-sm-6 {
  width: 50%;
}

.booking-form .form-control {
  width: 100%;
  background: transparent;
outline: none;
  border: 1px solid #ebebeb;
  height: 45px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  color: var(--small-text-color);
}
.booking-form form .row {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  column-gap: 40px;
}
.booking-form .col-sm-7 {
  width: 50%;
}
.booking-form .col-sm-7 .row .col-sm-4 {
  width: 50px;
}
.booking-form .col-sm-5 {
  width: 50%;
}
.col-sm-7 .row .col-sm-4 select {
  padding-left: 5px;
}
/* .booking-form .col-sm-7 .row {
  display: flex !important;
  gap: 20px;
} */
.booking-form input {
  padding-left: 10px;
}
.booking-form .form-control::-webkit-input-placeholder {
  color: var(--small-text-color);
}

.booking-form .form-control:-ms-input-placeholder {
  color: var(--small-text-color);
}

.booking-form .form-control::placeholder {
  color: var(--small-text-color);
}

.booking-form input[type="date"].form-control:invalid {
  color: var(--small-text-color);
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 0px;
  bottom: 6px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: #101113;
  font-size: 14px;
}

.booking-form select.form-control + .select-arrow:after {
  content: "\279C";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  color: #1bf72e;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  display: block;
  text-transform: uppercase;
}

.booking-form .submit-btn {
  color: #fff;
  background-color: var(--primary-color);
  font-weight: 700;
  height: 50px;
  border: none;
  width: 100%;
  display: block;
  border-radius: 3px;
  text-transform: uppercase;
}
